#time
{
    font-weight:bold;
}
#start-button {
    background-color: black;
}
#average
{
    font-weight:bold;
}
#fastest {
    font-weight: bold;
}
#box-location
{
    /* float:left; */
    width:100%;
    min-height:80%;
}

#shape
{
    position: absolute;
}
